.ct_selected {
    background-image: url(Images/idle_opened.svg);
}

.ct_idle_closed {
    background-image: url(Images/idle_closed.svg);
}

.ct_idle_opened {
    background-image: url(Images/idle_opened.svg);
}

.IdleOpened {
    background-image: url(Images/idle_closed.svg);
}

.ct_marked {
    background-image: url(Images/marked.svg);
}

.ct_mine {
    background-image: url(Images/mine.svg);
}

.ct_exploded_mine {
    background-image: url(Images/mine_red.svg);
}

.ct_digit_one {
    background-image: url(Images/digit_1.svg);
}

.ct_digit_two {
    background-image: url(Images/digit_2.svg);
}

.ct_digit_three {
    background-image: url(Images/digit_3.svg);
}

.ct_digit_four {
    background-image: url(Images/digit_4.svg);
}

.ct_digit_five {
    background-image: url(Images/digit_5.svg);
}

.ct_digit_six {
    background-image: url(Images/digit_6.svg);
}

.ct_digit_seven {
    background-image: url(Images/digit_7.svg);
}

.ct_digit_eight {
    background-image: url(Images/digit_8.svg);
}