.digits_back {
    background-size: 100% 100%;
    background-image: url(Images/Digits/digits_back.svg);
}

.digit {
    background-size: 100% 100%;
}

.d_0 {
    background-image: url(Images/Digits/d0.svg);
}

.d_1 {
    background-image: url(Images/Digits/d1.svg);
}

.d_2 {
    background-image: url(Images/Digits/d2.svg);
}

.d_3 {
    background-image: url(Images/Digits/d3.svg);
}

.d_4 {
    background-image: url(Images/Digits/d4.svg);
}

.d_5 {
    background-image: url(Images/Digits/d5.svg);
}

.d_6 {
    background-image: url(Images/Digits/d6.svg);
}

.d_7 {
    background-image: url(Images/Digits/d7.svg);
}

.d_8 {
    background-image: url(Images/Digits/d8.svg);
}

.d_9 {
    background-image: url(Images/Digits/d9.svg);
}