.face {
    background-size: 100% 100%;
}

.f_idle {
    background-image: url(Images/Faces/face_idle.svg);
}

.f_pressed {
    background-image: url(Images/Faces/face_pressed.svg);
}

.f_frightened {
    background-image: url(Images/Faces/face_frightened.svg);
}

.f_lose {
    background-image: url(Images/Faces/face_lose.svg);
}