.minesweeper_border {
    background-size: 100% 100%;
}

.mb_corner_up_left {
    background-image: url(Images/corner_up_left.png);
}

.mb_corner_up_right {
    background-image: url(Images/corner_up_right.png);
}

.mb_corner_bottom_left {
    background-image: url(Images/corner_bottom_left.png);
}

.mb_corner_bottom_right {
    background-image: url(Images/corner_bottom_right.png);
}

.mb_border_hor {
    background-image: url(Images/border_hor.png);
}

.mb_border_vert {
    background-image: url(Images/border_vert.png);
}

.mb_t_left {
    background-image: url(Images/t_left.png);
}

.mb_t_right {
    background-image: url(Images/t_right.png);
}